.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 60px;
  border-top: 5px solid #6f38c5;
}

.leftWrapper {
  display: flex;
  flex: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 1rem 0.5rem;
}

.leftWrapper input,
.leftWrapper button {
  border-radius: 20px;
}

.leftWrapper input {
  padding: 15px;
  width: 80%;
  font-size: 20px;
}

.leftWrapper button {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  width: 50%;
  font-weight: 400;
  font-size: 20px;
}

.divider {
  color: gray;
}

.rightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 60%;
  padding: none;
  background-color: #f1f3f6;
  height: 85vh;
  padding: 1rem 0.5rem;
}

.rightWrapper > img {
  width: 100%;
}
