.container {
  margin: 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 5px solid #6f38c5;
}

.leftWrapper {
  display: flex;
  flex: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 1rem 0.5rem;
}

.leftWrapper input,
.leftWrapper button,
.leftWrapper select {
  border-radius: 20px;
}

.leftWrapper input {
  padding: 15px;
  width: 300px;
  font-size: 20px;
}

.leftWrapper select {
  padding: 15px 10px;
  width: 330px;
  font-size: 20px;
  border: 2px solid black;
}

.leftWrapper select:invalid {
  color: gray;
}

.leftWrapper button {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  width: 50%;
  font-weight: 400;
  font-size: 20px;
}

.divider {
  color: gray;
}

.rightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 70%;
  padding: none;
  background-color: #f1f3f6;
  height: 1100px;
}

.rightWrapper > img {
  width: 1000px;
  height: 1000px;
}
