.papersContainer {
  width: 100%;
  max-width: 2400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  padding-bottom: 100px;
}

table {
  width: 1200px;
}

.createProjectBtn {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  width: 200px;
  font-weight: 400;
  font-size: 20px;
}
