.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inviteUserBtn,
.uploadPaperBtn {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}
