.buttonsContainer {
  width: 80%;
}

.inviteUserBtn,
.uploadPaperBtn {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}

.inviteUserBtn {
  float: left;
}
.uploadPaperBtn {
  float: right;
}

.Submitted,
.Approved,
.Rejected {
  color: white;
  border-radius: 25%;
  padding: 3px 6px;
}

.Submitted {
  background-color: #0166ff;
}

.Approved {
  background-color: #39c557;
}

.Rejected {
  background-color: #c53938;
}
