.footerContainer {
  width: 100%;
  max-width: 100vw;
  background-color: #6f38c5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  font-size: 12px;
}
