html,
body {
  height: 100%;
}

.project {
  display: flex;
  justify-content: center;
}

.projectContainer {
  width: 100%;
  max-width: 2400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  padding-bottom: 100px;
}

.papersList {
  display: flex;
  flex-direction: column;
}

.paperItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 150px;
  border: 1px solid #6f38c5;
  gap: 30px;
  width: 900px;
}
