.invitationsContainer {
  width: 100%;
  max-width: 2400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  padding-bottom: 100px;
}

table {
  width: 1200px;
}
