.navbar {
  height: 7vh;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1920px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-color: #6f38c5;
  border-radius: 50%;
  padding: 20px;
  font-weight: 400;
  font-size: 24px;
}

.navButton {
  background-color: #6f38c5;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}
