.navbar{
   height: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background-color: black;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-underline-offset: none;
    /* color: #6F38C5; */
    color:white;
}

.logo{
    font-weight: 400;
    font-size: 5000;
}

.navButton{
    margin-left:20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;    
}
